$dark: #1d2f47;
$medium: #3C6293;
$light: #568CD3;

$tunned: #ACC6E8;

$red: red;
$orange: orange;

@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:300&subset=latin,latin-ext);
$font: 'Roboto Slab';
