@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:300&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=VT323);
@import url(https://fonts.googleapis.com/css?family=Karma:300);
@import url(https://fonts.googleapis.com/css?family=Karma:300);
.disabled {
  cursor: not-allowed !important;
  opacity: .5;
}
.disabled:hover {
  -moz-transform: scale(1) !important;
  -webkit-transform: scale(1) !important;
  -o-transform: scale(1) !important;
  -ms-transform: scale(1) !important;
  transform: scale(1) !important;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Roboto Slab', 'serif';
  margin: 0;
}

#left {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  height: 69px;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#left > div {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
#left > div > a {
  display: block;
  height: 69px;
  width: 25%;
  float: left;
  text-align: center;
  line-height: 69px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.2em;
  -webkit-transition: background 250ms ease;
  -moz-transition: background 250ms ease;
  -ms-transition: background 250ms ease;
  -o-transition: background 250ms ease;
  transition: background 250ms ease;
}
#left > div > a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
#left > div > a > img {
  width: 62.1px;
  height: auto;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 2px 1px black, 0 0 0px 2px #FFED4D, 0 0 1px 1px #FFFF1C, -1px -1px 0 3px #444;
  box-shadow: 0 0 2px 1px black, 0 0 0px 2px #FFED4D, 0 0 1px 1px #FFFF1C, -1px -1px 0 3px #444;
}

#top {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 69px;
  height: 2em;
  background-color: rgba(0, 0, 0, 0.7);
  color: rgba(255, 255, 255, 0.5);
  z-index: 9999;
}
#top > div {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
#top > div > p {
  width: 150px;
  float: left;
  height: 2em;
  line-height: 2em;
  padding: 0;
  margin: 0;
}
#top pre {
  display: inline;
}

#content {
  background-size: cover;
  background-position: center;
  z-index: -9999;
  overflow: auto;
  height: 100%;
}
#content div.skills, #content div.upgrades {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
#content div.skills > div, #content div.upgrades > div {
  position: relative;
  border: none;
  text-align: center;
  width: 100px;
  height: 100px;
  margin: 8px;
  color: white;
  cursor: pointer;
  background: #26517f;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI2NTE3ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzMTYyYTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(left, #26517f 0%, #3162a5 100%);
  background: -webkit-linear-gradient(left, #26517f 0%, #3162a5 100%);
  background: linear-gradient(to right, #26517f 0%, #3162a5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26517f', endColorstr='#3162a5',GradientType=1 );
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
#content div.skills > div.green, #content div.upgrades > div.green {
  background: green;
}
#content div.skills > div:hover, #content div.upgrades > div:hover {
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
#content div.skills > div div.hidden p, #content div.upgrades > div div.hidden p {
  margin: 0;
  color: #ff9900;
  font-size: 12px;
}
#content div.skills > div:hover div.visible, #content div.skills > div div.hidden, #content div.upgrades > div:hover div.visible, #content div.upgrades > div div.hidden {
  display: none;
}
#content div.skills > div:hover div.hidden, #content div.upgrades > div:hover div.hidden {
  display: block;
}
#content div.skills > div > p, #content div.upgrades > div > p {
  line-height: 100px;
  margin: 0;
}
#content div.skills > div > span, #content div.upgrades > div > span {
  display: block;
  position: absolute;
  bottom: 1em;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 11px;
}
#content div.skills > div.double, #content div.upgrades > div.double {
  width: 200px;
}

body.tomaszew95 {
  font-family: 'VT323' !important;
  background: #008484 !important;
}
body.tomaszew95 #content {
  background: url("../media/tomaszew95.png") !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: 400px 200px !important;
}
body.tomaszew95 #content > div > div {
  padding-bottom: 40px;
}
body.tomaszew95 #content i {
  color: #d4d0c7;
}
body.tomaszew95 #content i.fa {
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #fff;
}
body.tomaszew95 #content .skill, body.tomaszew95 #content .upgrade {
  background: none !important;
}
body.tomaszew95 #content .skill.double, body.tomaszew95 #content .upgrade.double {
  width: inherit;
}
body.tomaszew95 #content .skill span, body.tomaszew95 #content .upgrade span {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 2px;
  padding-left: 4px;
  padding-right: 4px;
}
body.tomaszew95 #left {
  background-color: #d4d0c7;
  height: 50px;
}
body.tomaszew95 #left > div {
  max-width: inherit;
}
body.tomaszew95 #left div.timer {
  float: right;
  text-align: center;
  line-height: 42px;
  width: 81.25px;
  height: 42px;
  margin: 4px;
  background-color: rgba(150, 150, 150, 0.1);
  -webkit-box-shadow: inset 2px 2px 0 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 2px 2px 0 0 rgba(0, 0, 0, 0.2);
}
body.tomaszew95 #left div.start {
  background-color: #d4d0c7;
  float: left;
  margin: 4px;
  padding: 0;
  width: 81.25px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 0 1px #000, -1px -1px 0 1px #fff;
  box-shadow: 1px 1px 0 1px #000, -1px -1px 0 1px #fff;
}
body.tomaszew95 #left div.start:active {
  background-color: #beb4b4;
}
body.tomaszew95 #left div.start.touch > div.menu {
  display: block;
}
body.tomaszew95 #left div.top {
  display: inline;
}
body.tomaszew95 #left div.top p {
  background-color: #d4d0c7;
  float: left;
  margin: 4px;
  margin-top: 8px;
  padding: 0;
  padding-left: 4px;
  padding-right: 4px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 0 1px #777, -1px -1px 0 1px #ddd;
  box-shadow: 1px 1px 0 1px #777, -1px -1px 0 1px #ddd;
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
body.tomaszew95 #left div.menu {
  display: none;
  position: relative;
  bottom: 370px;
  left: -4px;
  width: 132.03125px;
}
body.tomaszew95 #left div.menu:hover {
  display: block;
}
body.tomaszew95 #left div.menu > a {
  background: #d4d0c7;
  color: rgba(0, 0, 0, 0.8);
  display: block;
  width: 132.03125px;
  height: 81.25px;
  line-height: 81.25px;
  float: left;
  padding: 0;
  margin: 0;
  text-align: left;
  text-decoration: none;
  cursor: pointer;
}
body.tomaszew95 #left div.menu > a:hover {
  background-color: #ddd;
}
body.tomaszew95 #left div.menu > a > img {
  height: 50px;
  width: 50px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  vertical-align: text-top;
  position: relative;
  bottom: 20px;
}
body.tomaszew95 #left div.menu > a > i {
  margin-left: 4px;
}

body.tomaszewXP {
  /*font-family: 'VT323' !important;*/
  background: #235dda !important;
}
body.tomaszewXP #content {
  background: url("../media/tomaszewXP.jpg") !important;
  background-position: bottom right !important;
}
body.tomaszewXP #content > div > div {
  padding-bottom: 40px;
}
body.tomaszewXP #content i {
  color: white;
}
body.tomaszewXP #content i.fa {
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #fff;
}
body.tomaszewXP #content .skill, body.tomaszewXP #content .upgrade {
  background: none !important;
}
body.tomaszewXP #content .skill.double, body.tomaszewXP #content .upgrade.double {
  width: inherit;
}
body.tomaszewXP #content .skill span, body.tomaszewXP #content .upgrade span {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 2px;
  padding-left: 4px;
  padding-right: 4px;
}
body.tomaszewXP #left {
  background-color: #235dda;
  height: 50px;
}
body.tomaszewXP #left > div {
  max-width: inherit;
}
body.tomaszewXP #left div.timer {
  float: right;
  text-align: center;
  line-height: 42px;
  width: 81.25px;
  height: 42px;
  margin: 4px;
  color: white;
  background-color: rgba(150, 150, 150, 0.1);
  -webkit-box-shadow: inset 2px 2px 0 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 2px 2px 0 0 rgba(0, 0, 0, 0.2);
}
body.tomaszewXP #left div.start {
  background-color: #36b034;
  float: left;
  padding: 0;
  width: 81.25px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  -webkit-box-shadow: inset -2px -2px 4px 0 rgba(0, 0, 0, 0.3), inset 2px 2px 4px 2px rgba(255, 255, 255, 0.3);
  box-shadow: inset -2px -2px 4px 0 rgba(0, 0, 0, 0.3), inset 2px 2px 4px 2px rgba(255, 255, 255, 0.3);
  -webkit-border-radius: 0 6px 6px 0;
  border-radius: 0 6px 6px 0;
}
body.tomaszewXP #left div.start span {
  color: white;
}
body.tomaszewXP #left div.start:active {
  background-color: green;
}
body.tomaszewXP #left div.start.touch > div.menu {
  display: block;
}
body.tomaszewXP #left div.top {
  display: inline;
}
body.tomaszewXP #left div.top p {
  float: left;
  margin: 4px;
  margin-top: 8px;
  padding: 0;
  padding-left: 4px;
  padding-right: 4px;
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  line-height: 42px;
  height: 42px;
  margin: 4px;
  color: white;
  background-color: rgba(255, 255, 255, 0.3) !important;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.6);
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.6);
}
body.tomaszewXP #left div.menu {
  display: none;
  position: relative;
  bottom: 370px;
  left: -4px;
  width: 132.03125px;
}
body.tomaszewXP #left div.menu:hover {
  display: block;
}
body.tomaszewXP #left div.menu > a {
  background: white;
  color: rgba(0, 0, 0, 0.8);
  display: block;
  width: 132.03125px;
  height: 81.25px;
  line-height: 81.25px;
  float: left;
  padding: 0;
  margin: 0;
  text-align: left;
  text-decoration: none;
  cursor: pointer;
}
body.tomaszewXP #left div.menu > a:last-child {
  height: 76px;
}
body.tomaszewXP #left div.menu > a:hover {
  background-color: #ddd;
}
body.tomaszewXP #left div.menu > a > img {
  height: 50px;
  width: 50px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  vertical-align: text-top;
  position: relative;
  bottom: 20px;
}
body.tomaszewXP #left div.menu > a > i {
  margin-left: 4px;
}

body.tomaszew10 {
  font-family: 'Karma', serif !important;
  color: #FFF;
}
body.tomaszew10 #content {
  background: url("../media/tomaszew10.jpg") no-repeat center center fixed !important;
}
body.tomaszew10 #content > div > div {
  padding-bottom: 40px;
}
body.tomaszew10 #content i {
  color: #FFF;
}
body.tomaszew10 #content .skill, body.tomaszew10 #content .upgrade {
  background: none !important;
}
body.tomaszew10 #content .skill.double, body.tomaszew10 #content .upgrade.double {
  width: inherit;
}
body.tomaszew10 #content .skill span, body.tomaszew10 #content .upgrade span {
  text-shadow: 0 0 7px rgba(0, 0, 0, 0.6);
  padding: 2px;
  padding-left: 4px;
  padding-right: 4px;
}
body.tomaszew10 #left {
  background-color: rgba(0, 0, 0, 0.85);
  height: 50px;
}
body.tomaszew10 #left > div {
  max-width: inherit;
}
body.tomaszew10 #left div.timer {
  float: right;
  text-align: center;
  line-height: 42px;
  width: 81.25px;
  height: 42px;
  margin: 4px;
  color: #FFF;
}
body.tomaszew10 #left div.start {
  float: left;
  margin: 4px;
  padding: 0;
  width: 81.25px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  cursor: pointer;
}
body.tomaszew10 #left div.start:active {
  background-color: rgba(0, 0, 0, 0.85);
}
body.tomaszew10 #left div.start.touch > div.menu {
  display: block;
}
body.tomaszew10 #left div.top {
  display: inline;
}
body.tomaszew10 #left div.top p {
  float: left;
  margin: 4px;
  margin-top: 8px;
  padding: 0;
  padding-left: 4px;
  padding-right: 4px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  cursor: pointer;
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
body.tomaszew10 #left div.menu {
  height: 365px;
  width: 155px !important;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  position: relative;
  bottom: 410px;
  left: -4px;
  width: 132.03125px;
}
body.tomaszew10 #left div.menu:hover {
  display: block;
}
body.tomaszew10 #left div.menu > a {
  background: rgba(0, 0, 0, 0.7);
  color: #FFF;
  display: block;
  width: 132.03125px;
  height: 81.25px;
  line-height: 81.25px;
  float: left;
  padding: 0;
  margin: 2px 5px;
  text-align: left;
  text-decoration: none;
  cursor: pointer;
}
body.tomaszew10 #left div.menu > a:nth-child(1) {
  background: none;
  margin: 20px 5px 2px;
}
body.tomaszew10 #left div.menu > a:nth-child(2) {
  background: #0f6abd !important;
}
body.tomaszew10 #left div.menu > a:nth-child(3) {
  background: #d91426 !important;
}
body.tomaszew10 #left div.menu > a:nth-child(4) {
  background: #1e7d3f !important;
}
body.tomaszew10 #left div.menu > a:hover {
  background-color: rgba(0, 0, 0, 0.85);
}
body.tomaszew10 #left div.menu > a > img {
  height: 50px;
  width: 50px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  vertical-align: text-top;
  position: relative;
  bottom: 20px;
}
body.tomaszew10 #left div.menu > a > i {
  margin-left: 4px;
}

body.os11tomaszew {
  background: url("../media/aula.JPG");
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  font-family: 'Karma', serif !important;
  color: #FFF;
}
body.os11tomaszew.aula {
  background: url("../media/aula.JPG") !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
body.os11tomaszew.tomaszew {
  background: url("../media/t.JPG") !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
body.os11tomaszew.cwiczenia {
  background: url("../media/cwiczenia.JPG") !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
body.os11tomaszew.s9 {
  background: url("../media/s9.JPG") !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
body.os11tomaszew #content {
  /*background: url("../media/tomaszew10.jpg") no-repeat center center fixed !important;*/
}
body.os11tomaszew #content > div {
  margin-top: 30px;
}
body.os11tomaszew #content > div > div {
  padding-bottom: 50px;
}
body.os11tomaszew #content i {
  color: #FFF;
}
body.os11tomaszew #content .skill, body.os11tomaszew #content .upgrade {
  background: none !important;
}
body.os11tomaszew #content .skill.double, body.os11tomaszew #content .upgrade.double {
  width: inherit;
}
body.os11tomaszew #content .skill span, body.os11tomaszew #content .upgrade span {
  text-shadow: 0 0 7px rgba(0, 0, 0, 0.6);
  padding: 2px;
  padding-left: 4px;
  padding-right: 4px;
}
body.os11tomaszew #left {
  top: 0;
  bottom: auto;
  background-color: rgba(255, 255, 255, 0.9);
  color: #000;
  height: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
body.os11tomaszew #left > div {
  max-width: inherit;
}
body.os11tomaszew #left div.timer {
  float: right;
  text-align: center;
  line-height: 22px;
  width: 48.75px;
  height: 22px;
  margin: 4px;
  color: #000;
}
body.os11tomaszew #left div.start {
  float: left;
  margin: 4px;
  padding: 0;
  width: 48.75px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
}
body.os11tomaszew #left div.start.touch > div.menu {
  display: block;
}
body.os11tomaszew #left div.top {
  display: inline;
}
body.os11tomaszew #left div.top p {
  float: left;
  margin: 4px;
  margin-top: 8px;
  padding: 0;
  padding-left: 4px;
  padding-right: 4px;
  height: 14px;
  line-height: 14px;
  text-align: center;
  cursor: pointer;
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
body.os11tomaszew #left div.menu {
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left: -250px;
  height: 50px;
  width: 500px !important;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  background: rgba(170, 170, 170, 0.7);
  display: block;
  border-radius: 10px 10px 0 0;
}
body.os11tomaszew #left div.menu:hover {
  display: block;
}
body.os11tomaszew #left div.menu > a {
  color: #FFF;
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  float: left;
  padding: 0;
  margin: 0 37.5px;
  text-align: left;
  text-decoration: none;
  cursor: pointer;
}
body.os11tomaszew #left div.menu > a > img {
  height: 40px;
  width: 40px;
  vertical-align: middle;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: relative;
}
body.os11tomaszew #left div.menu > a > i {
  height: 40px;
  width: 40px;
  line-height: 40px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  vertical-align: middle;
  position: relative;
  background: #09F;
  text-align: center;
}
