@import url(https://fonts.googleapis.com/css?family=Karma:300);
body.tomaszew10 {
  font-family: 'Karma', serif !important;
  color: #FFF;
}
body.tomaszew10 #content {
  background: url("../media/tomaszew10.jpg") no-repeat center center fixed !important;
}
body.tomaszew10 #content > div > div {
  padding-bottom: 40px;
}
body.tomaszew10 #content i {
  color: #FFF;
}
body.tomaszew10 #content .skill, body.tomaszew10 #content .upgrade {
  background: none !important;
}
body.tomaszew10 #content .skill.double, body.tomaszew10 #content .upgrade.double {
  width: inherit;
}
body.tomaszew10 #content .skill span, body.tomaszew10 #content .upgrade span {
  text-shadow: 0 0 7px rgba(0, 0, 0, 0.6);
  padding: 2px;
  padding-left: 4px;
  padding-right: 4px;
}
body.tomaszew10 #left {
  background-color: rgba(0, 0, 0, 0.85);
  height: 50px;
}
body.tomaszew10 #left > div {
  max-width: inherit;
}
body.tomaszew10 #left div.timer {
  float: right;
  text-align: center;
  line-height: 42px;
  width: 81.25px;
  height: 42px;
  margin: 4px;
  color: #FFF;
}
body.tomaszew10 #left div.start {
  float: left;
  margin: 4px;
  padding: 0;
  width: 81.25px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  cursor: pointer;
}
body.tomaszew10 #left div.start:active {
  background-color: rgba(0, 0, 0, 0.85);
}
body.tomaszew10 #left div.start.touch > div.menu {
  display: block;
}
body.tomaszew10 #left div.top {
  display: inline;
}
body.tomaszew10 #left div.top p {
  float: left;
  margin: 4px;
  margin-top: 8px;
  padding: 0;
  padding-left: 4px;
  padding-right: 4px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  cursor: pointer;
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
body.tomaszew10 #left div.menu {
  height: 365px;
  width: 155px !important;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  position: relative;
  bottom: 410px;
  left: -4px;
  width: 132.03125px;
}
body.tomaszew10 #left div.menu:hover {
  display: block;
}
body.tomaszew10 #left div.menu > a {
  background: rgba(0, 0, 0, 0.7);
  color: #FFF;
  display: block;
  width: 132.03125px;
  height: 81.25px;
  line-height: 81.25px;
  float: left;
  padding: 0;
  margin: 2px 5px;
  text-align: left;
  text-decoration: none;
  cursor: pointer;
}
body.tomaszew10 #left div.menu > a:nth-child(1) {
  background: none;
  margin: 20px 5px 2px;
}
body.tomaszew10 #left div.menu > a:nth-child(2) {
  background: #0f6abd !important;
}
body.tomaszew10 #left div.menu > a:nth-child(3) {
  background: #d91426 !important;
}
body.tomaszew10 #left div.menu > a:nth-child(4) {
  background: #1e7d3f !important;
}
body.tomaszew10 #left div.menu > a:hover {
  background-color: rgba(0, 0, 0, 0.85);
}
body.tomaszew10 #left div.menu > a > img {
  height: 50px;
  width: 50px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  vertical-align: text-top;
  position: relative;
  bottom: 20px;
}
body.tomaszew10 #left div.menu > a > i {
  margin-left: 4px;
}
